/* stylelint-disable docusaurus/copyright-header */
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.splitContainer {
  height: 450vh;
  width: 100%;
  display: block;
}

.leftSplit,
.rightSplit {
  padding-left: var(--ifm-spacing-horizontal);
  padding-right: var(--ifm-spacing-horizontal);
}

.leftSplit {
  height: 100vh;
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1E59;
  color: #fff;
  /* padding: ; */
}

.featureSticky {
  position: sticky;
  top: 0;
}

.stickyContent {
  max-width: calc(var(--ifm-container-width)/3);
  margin-left: auto;
  margin-right: auto;
}

.rightSplit {
  float: right;
  width: 50%;
  /* background-image: linear-gradient(150deg, #686BA6, #1B1E59) */
  background-image: linear-gradient(150deg, #e535ab, #1B1E59)
}

.splitRow {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc(var(--ifm-container-width)/3);
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.splitRow.before,
.splitRow.after {
  height: 75vh;
}

@media screen and (max-width: 966px) {
  .splitContainer {
    height: 100%;
  }
  .leftSplit, .rightSplit {
    width: 100%;
  }

  .leftSplit, .splitRow {
    height: 50vh;
  }

  .splitRow.before,
  .splitRow.after {
    display: none;
    height: 25vh;
  }

}

.featureImage {
  /* height: 200px; */
  width: 200px;
  margin-bottom: 1rem;
}

.featureTitle {
  font-size: 2rem;
  font-weight: 600;
}