# Logs
logs
*.log
npm-debug.log*

## Distribution folder
dist/

## Types
types/

# Dependencies
node_modules/
package-lock.json

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/launch.json
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

## Compiled sources
lib

.nyc_output/

yarn.lock
integration/test.sqlite
integration/output/
integration/output-postgres/
integration/output-mongo/

# Generated docs
docs/api/

# SQLite files
*.sqlite