/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
	.graphback{
		align-content: center;
		width: 80%;
	}
	.projectTitle{
		text-align: center;
	}
	.mycontainer{
		grid-template-columns: 1fr;
		padding: 2% 5%;
	}
}

@media only screen and (min-width: 1024px) {
	.graphback{
		width: 30%;
		float: right;
	}
	.projectTitle{
		text-align: left;
	}
	.button{
	 align-content:left;
	}
	.mycontainer{
		padding:2% 5% ;
	}
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
	.mycontainer{
		grid-template-columns: 1fr 2fr;
		padding-top: 2%;
		padding-bottom: 2%;
		padding-left: 12%;
		padding-right: 15%;		
	}
}

@media only screen and (min-width: 1500px) {
}

 
.yt-frame {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.yt-frame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.projectTitle{
	color:#3344a2;   	
}
hr{
	margin: 10px;
	width: inherit;
}
small{
	letter-spacing: 0.5px;
}
.mycontainer{
	display: grid;
	gap:5%;	
	background-color: #f7f7f7;
}
.supported{
	opacity: 0.4;
	filter: grayscale(100%);

}
.supported img{
	margin: 4% 0%;
	width: 20%;
}
figcaption{
	font-size: 24px;
}
.homeContainer .homeWrapper{
	padding-top: 5%;
	padding-left:2%;
	padding-right:2%;
}
.promoSection .promoRow .pluginRowBlock{
	margin-top: 2%;
}
.mycontainer h1{
	margin-top: 0;
}